

svg.timeline-chart {
    display: block;
    margin: auto;
    /*mix-blend-mode: multiply;*/
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, "Lucida Grande", sans-serif;
}

svg.timeline-chart g.bar text {
    fill: #E5EAF5;
}

svg.timeline-chart g.timeline text {
    fill: #E5EAF5;
    fill-opacity: 0.5;
}

svg.timeline-chart g.timeline rect {
    fill-opacity: 0.5;
}
